<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/user/update.css}">
</head>
<body>
    <h1>User情報管理システム</h1>
    <h2>User更新</h2>
    
    <form method="post" th:action="@{/user/update/{id}/(id=${user.id})}" th:object="${user}">
        
        <label>ID</label>
        <span th:text="*{id}">4</span>
        <input type="hidden" id="id" name="id" th:field="*{id}">
        <br>
        
        <label for="name">名前</label>
        <input type="text" th:field="*{name}">
        <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">値を入力してください。</span>
        <br>
        
        <label for="gender">性別</label>
        <select th:field="*{gender}">
            <option value="">選択してください</option>
            <option th:each="item:${T(com.techacademy.entity.User.Gender).values()}" th:value="${item}" th:text="${item}" th:selected="*{gender} == ${item}"></option>
        </select>
        <span class="error-message" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">null は許可されていません</span>
        <br>
        
        <label for="age">年齢</label>
        <input type="text" th:field="*{age}">
        <span class="error-message" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">120以下の値にしてください</span>
        <br>
        
        <label for="email">メールアドレス</label>
        <input type="text" th:field="*{email}">
        <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">メールアドレスを入力してください。</span>
        <br>
        
        <br>
        <input type="submit" value="更新実行">
        <a th:href="@{/user/list}">更新せずに一覧に戻る</a>
    </form>
</body>
</html>